{% extends "legaladmin/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Page Content -->
<div style="float:left; margin-left: 66px; margin-top: 21px; width:748px;">
    <!--
    <div style="float:left;">
        <h1>ESIF 2014-2020 Finance Implementation Details Dataset</h1>
        <iframe width="748px" title="ESIF 2014-2020 Finance Implementation Details" height="500px" src="https://cohesiondata.ec.europa.eu/w/99js-gm52/n544-wyhf?cur=wC_80DQL_e8&from=root" frameborder="0"scrolling="no">
            <a href="https://cohesiondata.ec.europa.eu/dataset/ESIF-2014-2020-Finance-Implementation-Details/99js-gm52" title="ESIF 2014-2020 Finance Implementation Details" target="_blank">
                ESIF 2014-2020 Finance Implementation Details
            </a>
        </iframe>
        <p>
            <a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a>
            <button style="float:right;" id="to-website" onclick="window.open('https://cohesiondata.ec.europa.eu/')"> Go To Data Exploration Tool   <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </p>

    </div>
    <div style="clear:left; float:left; border: 1px solid #ddd; width:748px; margin-bottom:66px; margin-top: 30px;">
        <div style="margin-bottom:15px; margin-left: 15px; margin-right: 15px; margin-top: 15px;">
            <h1>EU Law Links</h1>
            <ul>
                <li><a href="http://eur-lex.europa.eu/eli-register/about.html">EUR-Lex</a></li>
                <li><a href="https://webgate.ec.europa.eu/esiflegislation">RegioWiki</a> (requires creation of an account)</li>
                <li><a href="http://ec.europa.eu/regional_policy/en/information/legislation/regulations/">European Structural and Investment Funds 2014-2020: official texts and commentaries</a></li>
                <li><a href="http://global.practicallaw.com/country/eu-law">Practical Law: EU Law</a></li>
            </ul>
        </div>
    </div> -->

    <h1>Information on the Legal and Administrative Framework Relating to RIS3</h1>
    <p>This application provides a concise overview and links to extensive repositories of information on the
    legal and administrative framework that is relevant to RIS3. The majority of sources referenced here are
    official EU reference sources; other sources, including those provided by commercial third-party providers,
    are clearly identified as such.</p>
    <p>Please click on the "down" arrow for the respective topic you are interested in to continue.</p>

    <div>
        <ul id="visionsession_list"style="list-style: none; padding-left:0px;">
            <li style="border-bottom: 1px solid #0099CC;overflow:auto;background:#0099CC;color:white;margin-top:5px; margin-bottom:5px;">
                <div style="clear:right;">
                    <div id="text_div" style="float:left; padding-top: 5px; padding-left: 5px;">
                        <div id="name_div">
                            <b>Overview of ESIF</b>
                        </div>
                    </div>
                    <div id="button_div" style="float:right;">
                        <button class="back_button cvb_button" data-toggle="collapse" data-target="#demo" onclick="expand(this);"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="demo" class="collapse" style="float:left;background:white;color:black;border-left: 1px solid #0099CC;border-right: 1px solid #0099CC; padding-top: 5px; padding-left: 5px; padding-bottom: 15px;">
                    The European Union has designed, implemented and monitored RIS3 strategies in the framework of a set
                    of directives, regulations and communications at EU level. These acts are transposed or applied at
                    national level, which creates a complex legal environment in which the management authorities
                    responsible for ESIF as well as public-private partnerships involved in RIS3 operate.<br /><br />
                    The Regulation (EU) 1301/2013 of the European Parliament and the Council 17 December 2013 is the
                    legal base which defines a smart specialisation strategy. The core legal acts related to RIS3 are
                    those governing the European Structural and Investment Funds: <a href="http://ec.europa.eu/regional_policy/en/information/legislation/regulations/" target="_blank">
                    European Structural and Investment Funds Regulations 2014-2020</a>.<br /><br />
                    The <a href="https://cohesiondata.ec.europa.eu/" target="_blank">ESIF Data Explorer</a> provides access
                    to data on financing and achievements of ESIF funding under ESI 2014-2020</a>.
                </div>
            </li>

            <li style="border-bottom: 1px solid #0099CC;overflow:auto;background:#0099CC;color:white;margin-top:5px; margin-bottom:5px;">
                <div style="clear:right;">
                    <div id="text_div" style="float:left; padding-top: 5px; padding-left: 5px;">
                        <div id="name_div">
                            <b>ERDF Funding and Similar Sources of Funding</b>
                        </div>
                    </div>
                    <div id="button_div" style="float:right;">
                        <button class="back_button cvb_button" data-toggle="collapse" data-target="#demo2" onclick="expand(this);"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="demo2" class="collapse" style="float:left;background:white;color:black;border-left: 1px solid #0099CC;border-right: 1px solid #0099CC; padding-top: 5px; padding-left: 5px; padding-bottom: 15px;">
                    <a href="https://www.fi-compass.eu/esif/erdf" target="_blank">European Regional Development Fund (ERDF)</a>
                    R&I investments focus on a limited number of <a href="https://www.keep.eu/keep/content/thematic-objectives-what-are-they-what-their-use"
                    target="_blank">thematic objectives</a>.<br /><br />
                    European Social Fund (ESF) funding focuses on employment, e.g. through training and life-long
                    learning, education and social inclusion.<br /><br />
                    European Agricultural Fund for Rural Development (EAFRD) focuses on links between agriculture, food
                    production and forestry.<br /><br />
                    Cohesion Fund (CF) funding focuses on Trans-European transport links and environmental infrastructure
                    projects<br /><br />
                    European Investment Bank (EIB) instruments include the <a href="http://www.eib.org/efsi/what-is-efsi/index.htm" target=""_blank>European Fund for Strategic Investment</a> (EFSI,
                    not to be mistaken with ESIF); relevant regulations for EFSI can be found <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv%3AOJ.L_.2015.169.01.0001.01.ENG" target=""_blank>here</a>.
                </div>
            </li>

            <li style="border-bottom: 1px solid #0099CC;overflow:auto;background:#0099CC;color:white;margin-top:5px; margin-bottom:5px;">
                <div style="clear:right;">
                    <div id="text_div" style="float:left; padding-top: 5px; padding-left: 5px;">
                        <div id="name_div">
                            <b>Legal Framework: EU State Aid Regulations</b>
                        </div>
                    </div>
                    <div id="button_div" style="float:right;">
                        <button class="back_button cvb_button" data-toggle="collapse" data-target="#demo3" onclick="expand(this);"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="demo3" class="collapse" style="float:left;background:white;color:black;border-left: 1px solid #0099CC;border-right: 1px solid #0099CC; padding-top: 5px; padding-left: 5px; padding-bottom: 15px;">
                    A set of regulations governs different legal options that impact on governance both at EU and
                    national levels. These include the legal forms that can be adopted by public-private partnerships,
                    the possibility for academic bodies to take staes in other private entities and similar matters.
                    Important types of partnerships that can be adopted include: <br /><br />
                    <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=URISERV:l26015" target="_blank">European Economic Interest Grouping (EEIG)</a><br />
                    <a href="http://ec.europa.eu/regional_policy/en/policy/cooperation/european-territorial/egtc/" target="_blank">European Grouping of Territorial Cooperation (EGTC)</a><br />
                    <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32009R0723" target="_blank">European Research Infrastructure Consortium (ERIC)</a><br /><br />
                    Important information sources on ESIF-related regulations include the DG REGIO <a href="http://ec.europa.eu/regional_policy/en/information/legislation/regulations/"
                    target="_blank">InfoRegio</a> website,
                    <a href="http://eur-lex.europa.eu" target="_blank">eur-lex</a>, which compiles all European
                    legislative texts, and the wiki tool &quot;<a href="https://webgate.ec.europa.eu/esiflegislation/" target="_blank">regiowiki&quot;</a> which provides
                    a navigable version of the primary and seconday legislation as well as guidance notes (EU online
                    services user account required).
                </div>
            </li>

            <li style="border-bottom: 1px solid #0099CC;overflow:auto;background:#0099CC;color:white;margin-top:5px; margin-bottom:5px;">
                <div style="clear:right;">
                    <div id="text_div" style="float:left; padding-top: 5px; padding-left: 5px;">
                        <div id="name_div">
                            <b>Further ESIF Information Sources</b>
                        </div>
                    </div>
                    <div id="button_div" style="float:right; padding-top: 5px; padding-left: 5px;">
                        <button class="back_button cvb_button" data-toggle="collapse" data-target="#demo4" onclick="expand(this);"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="demo4" class="collapse" style="float:left;background:white;color:black;border-left: 1px solid #0099CC;border-right: 1px solid #0099CC; padding-top: 5px; padding-left: 5px; padding-bottom: 15px;">
                    Further sources of information relevant to ESIF include third-party sources of information, which
                    may be of a commercial nature.<br /><br />
                    ThomsonReuters structures legal information by theme and includes the legislation relevant to EFIS
                    as part of their <a href="http://global.practicallaw.com/country/eu-law" target="_blank">Practical Law</a> repository (commercial service).<br /><br />
                    Relevant state aid regulations for <a href="http://ec.europa.eu/competition/state_aid/regional_aid/regional_aid.html" target="_blank">
                    regional aid</a> and <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=OJ:C:2014:198:TOC " target="_blank">R&amp;D and innovation aid</a> are furthermore important
                    to consider.<br />

                </div>
            </li>

                        <li style="border-bottom: 1px solid #0099CC;overflow:auto;background:#0099CC;color:white;margin-top:5px; margin-bottom:5px;">
                <div style="clear:right;">
                    <div id="text_div" style="float:left; padding-top: 5px; padding-left: 5px;">
                        <div id="name_div">
                            <b>ESIF 2014-2020 Finance Implementation Details</b>
                        </div>
                    </div>
                    <div id="button_div" style="float:right; padding-top: 5px; padding-left: 5px;">
                        <button class="back_button cvb_button" data-toggle="collapse" data-target="#demo5" onclick="expand(this);"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="demo5" class="collapse" style="float:left;background:white;color:black;border-left: 1px solid #0099CC;border-right: 1px solid #0099CC; padding-top: 5px; padding-left: 5px; padding-bottom: 15px;">
                   <b>ESIF 2014-2020 Finance Implementation Details Dataset</b><br/><br/>
                    <p>This table provides a quick overview of existing finance measures under ESIF 2014-2020. Please use
                        the link below the overview table to access the complete dataset with more elaborate filtering
                    functionalities.</p>
        <iframe width="728px" title="ESIF 2014-2020 Finance Implementation Details" height="500px" src="https://cohesiondata.ec.europa.eu/w/99js-gm52/n544-wyhf?cur=wC_80DQL_e8&from=root" frameborder="0"scrolling="no">
            <a href="https://cohesiondata.ec.europa.eu/dataset/ESIF-2014-2020-Finance-Implementation-Details/99js-gm52" title="ESIF 2014-2020 Finance Implementation Details" target="_blank">
                ESIF 2014-2020 Finance Implementation Details
            </a>
        </iframe>
                    <p>&nbsp;</p>
        <p>
            <a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a>
            <button style="float:right;" id="to-website" onclick="window.open('https://cohesiondata.ec.europa.eu/')"> Go To Data Exploration Tool   <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </p>

                </div>
            </li>
        </ul>
    </div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<!-- Page Content -->

<!-- Page Menus -->
<div style="float: left; margin-left: 66px; margin-top: 61px; margin-right: 60;">
    <!-- {% include "cvbapp/online_steps.html" %} -->
    <aside id='sidebar'>
        <a href="{% static 'data/Legal_Admin_Guidline.pdf' %}" target="_blank">
            <!--<button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>-->
        </a>
    </aside>
</div>
<!-- Page Menus -->
{% endblock %}</html>