{% extends "legaladmin/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
{% endblock %}

{% block content %}

<!-- page content -->
<div style="float:left; margin-left: 66px; width: 740px">
    <h1>About Legal and Administrative Framework</h1>
    <p>
        The Legal and Administrative Framework tool is used to inform the user about the legal and administrative framework related to European Structural and Investment Funds (ESIF). This method provides an overview of important aspects related to the European Regional Development Fund (ERDF)regulations and funding projects in the framework of national and regional Operational Programmes (OP). <br>
        This method will provide the user with the latest information on legislative and related policy texts covering the smart specialisation design, implementation, and evaluation process. <br>
        This method will also support the user by providing tools to visualise ESIF data in multiple forms.

    </p>
</div>
<!-- page content -->

<!-- Page Menus -->
<div style="float: left; margin-left: 66px; margin-bottom: 66px;">
    <!-- {% include "cvbapp/online_steps.html" %} -->
    <aside id='sidebar'>
        <a href="{% static 'data/Legal_Admin_Guidline.pdf' %}" target="_blank">
            <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>

        <div></div>
        <a href="{% url 'legaladmin_access' %}">
            <button id="access_app_button"> Access to application <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
    </aside>
</div>
<!-- Page Menus -->
{% endblock %}