{% extends "legaladmin/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
{% endblock %}

{% block content %}

<!-- page content -->
<div style="float:left; margin-left: 66px; width: 740px">
    <h1>Related Documents</h1>
    <p>Please refer to the application for a more extensive listing of relevant information. This page links to basic
    information on ESIF and ERDF and the open data source referenced in the application.</p>
    <ul>
        <li><a href="http://ec.europa.eu/regional_policy/en/policy/what/glossary/e/esif">Regional Policy Term Glossary</a><br />Provides brief definitions of of ESIF and ERDF<br /><br /></li>
        <!--<li><a href="https://www.gov.uk/european-structural-investment-funds">Application for Funds (England)</a> - gov.uk website to apply for European Structural and Investment Funds</li>-->
        <li><a href="http://ec.europa.eu/regional_policy/en/faq/about_open_data/">ESI Funds Open Data Platform Frequently Asked Questions</a><br />Provides a listing of Frequently Asked Question about the ESI Funds Open Data Tool used for this application</li>
    </ul>
</div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<!-- page content -->

<!-- Page Menus -->
<div style="float: left; margin-left: 66px; margin-bottom: 66px;">
    <!-- {% include "cvbapp/online_steps.html" %} -->
    <aside id='sidebar'>
        <a href="{% static 'data/Legal_Admin_Guidline.pdf' %}" target="_blank">
           <!-- <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button> -->
        </a>

        <div></div>
        <a href="{% url 'legaladmin_access' %}">
            <button id="access_app_button"> Access to application <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
    </aside>
</div>
<!-- Page Menus -->
{% endblock %}